<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Smile_Ratings::customer_rating_menu"
             title="Customer Ratings"
             module="Smile_Ratings"
             resource="Smile_Ratings::customer_rating"
             translate="title toolTip"
             sortOrder="35"
             toolTip="Customer Ratings" />
        <add id="Smile_Ratings::customer_rating_menu_grid"
             title="Grid"
             module="Smile_Ratings"
             resource="Smile_Ratings::customer_rating_grid"
             translate="title"
             parent="Smile_Ratings::customer_rating_menu"
             action="ratings/customer/rating" />
        <add id="Smile_Ratings::customer_rating_menu_edit"
             title="Add new rating"
             module="Smile_Ratings"
             resource="Smile_Ratings::customer_rating_edit"
             translate="title"
             parent="Smile_Ratings::customer_rating_menu"
             action="ratings/customer/edit" />
    </menu>
</config>
