<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MagentoEx_Newsletter::data_analysis_data_visualization" translate="title" title="Data Visualization" sortOrder="10">
                    <resource id="MagentoEx_Newsletter::data_analysis_box_plot" translate="title" title="Box Plot" sortOrder="10"/>
                    <resource id="MagentoEx_Newsletter::data_analysis_dataset_info_slr" translate="title" title="Dataset Information" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
